<div class="container">

  <div class="starter-template">

    <div class="row">

      <div class="col-md-12 mt-5">
        <h1> {{ title }} </h1>

        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="codigo">Codigo</label>
                <input formControlName="codigo" class="form-control" type="text" id="dni" placeholder="Codigo de la llamada" required="true">
                <div *ngIf="submitted && f.transcripcion.errors" class="invalid-feedback">
                 <div *ngIf="f.transcripcion.errors.required">Por favor escribe la tu cedula</div>
                </div>
              </div>
              <div class="form-group">
                <label for="dni">Cedula</label>
                <input formControlName="transcripcion" class="form-control" type="text" id="dni" placeholder="Número de identificación" required="true">
                <div *ngIf="submitted && f.transcripcion.errors" class="invalid-feedback">
                 <div *ngIf="f.transcripcion.errors.required">Por favor escribe la tu cedula</div>
                </div>
              </div>
              <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input class="form-control" type="text" id="base64" placeholder= "Base">
                    <input type="file" formControlName="audio"  class="form-control custom-file-input" id="archivo" aria-describedby="inputGroupFileAddon01" accept="audio/*">
                    <label class="custom-file-label" for="archivo">Choose file</label>
                  </div>
              </div>
              
          

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Aceptar</button>
          </div>

        </form>

      </div>


    </div>

  </div>

</div>
